.flex {
    display: flex
}

.comms-content pre {
    white-space: pre-wrap; /* Ensures that the content wraps instead of causing overflow */
}

a {
    color: #004FA3
}

.edged {
    margin-left: 20px;
    margin-right: 20px;
}

.edged-less {
    margin-left: 10px;
    margin-right: 10px;
}

.body-content {
    padding: 10px;
}

#logo {
    margin-right: 20px;
}