{% extends "layout.html" %}
{% block title %}
    GitHub Repo
{% endblock %}
{% block content %}

    <h1>Upload a GitHub Repo</h1>

    <p>
        Please type in your GitHub repo URL (make sure it's set to public!). It should be in the format 
        'https://github.com/BiggestChris/Companies-House-Unlock.git' or 'https://github.com/BiggestChris/Companies-House-Unlock', 
        it will reject the link otherwise (please don't include any trailing /'s).
    </p>

    <form method="POST" action="/git" enctype="multipart/form-data">
        <input type="text" name="file">
        <input type="submit" value="Upload">
    </form>

    <em>
        {{ text }}
    </em>

    <!-- Flash messages section
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
     -->

    

{% endblock %}