{% extends "layout.html" %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
    
    <h1>Welcome</h1>

    <p>
        This is the Inversity Guidebot. Here you can upload your GitHub repo, upload your Pitch, and review your results so far.
        Remember, you need to score 25+ marks to get your Momentum badge and that's what this Guidebot is designed to help you with.
        It won't mark your submission for you, it's only a guide to point out what makes a worthy submission, the benchmark will be
        lower than you think!
    </p>


    <!-- Flash messages section
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
     -->

    

{% endblock %}